<label>Server name</label>
<!-- exemplo de event binding, passando o dado do evento input para p método atualizar a variável serverName-->
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> --> 

<!-- 2 way biding, uma forma alternativa ao event biding para atualizar o serverName
no exemplo abaixo, o input event é inicializado automaticamente e a propriedade é atualizada-->
<input type="text" class="form-control" [(ngModel)]="serverName">

<!-- <p>{{serverName}}</p> -->

<p>Exemplo de propriety binding</p>

<button class="btn btn-primary"
[disabled]="!allowNewServer"
(click)="onCreateServer()">Add Server</button>
<!-- <h3>{{serverCreationStatus}}</h3> -->

<!-- Diretivas -->
<h3 *ngIf="serverCreated; else noServer">Server as created, server name is {{serverName}}</h3>
<ng-template #noServer>
    <h3>
        No server was created!
    </h3>
</ng-template>

<p>Exemplo: substituir uma string interpolation por propriety binding</p>

<h3>{{ allowNewServer }}</h3>
<h3 [innerText]="allowNewServer"></h3>

<app-server *ngFor="let server of servers"></app-server>

